
     {% extends 'layouts/layout.html' %}

     {% block title %}
         Project Detail
     {% endblock title %}
         
     {% block content %}
 <div style="display:flex; flex-direction: column;">
    <h1>View of the detail of personnel expenses {{titulo}}</h1>

     
    <h3 style="align-self: center;">All the data: </h3>
    <ul style="align-self: center;">
        <li> Project name: {{proyecto.nombre}}</li>
        <li> Description: {{proyecto.descripcion}}</li>
        <li> Total area of the project {{proyecto.area_total}} m² </li>
        <li> Start date: {{proyecto.fecha_inicio}}</li>
        <li> End date{{proyecto.fecha_final}}</li>
        <li> Registry created at: {{proyecto.fecha_created_at}}</li>
        <li> Registry updated at: {{proyecto.fecha_updated_at}}</li>
        <li> User: {{proyecto.user}}</li>
    </ul>
 </div>
     {% endblock %}