{% extends 'layouts/layout.html' %}

{% block title %}
 Fertilizer Detail
{% endblock title %}
    
{% block content %}
<div style="display:flex; flex-direction: column;">
<h1>View of the detail of fertilizer expenses {{titulo}}</h1>


<h3>All the data: </h3>
<ul>
    <li>Project: {{proyecto.proyecto}}</li>
    <li>Date of expenditure: {{proyecto.fechaGasto}}</li>
    <li>Electricity price: {{proyecto.FertilizantePrecio}} {{proyecto.monedaBasuraSolida}}</li>
    <li>Spending amount: {{proyecto.CantidadFertilizante}} {{proyecto.unitFertilizante }}</li>
    <li> Registry created at: {{proyecto.created_at}}</li>
    <li> Registry updated at: {{proyecto.updated_at}}</li>
</ul>
</div>
{% endblock %}