{% extends 'layouts/layout.html' %}

{% block title %}Proyectos{% endblock %}

{% block content %}

<h1 > ADMINISTRATIVE EXPENSES DATA LIST </h1>
          <div id="main-container" style="display: flex; justify-content:center;">
           
            <table class="table">
                <thead class="is-selected">
                    <tr>
                    
                            <th>Id</th>
                            <th>Project</th>
                            <th>Date of Expense</th>
                            <!-- <th>End Date</th> -->
                            <th>Creation Date</th>
                            <th>Update Date</th>
                           <th>Action</th>
                        
                    </tr>
                </thead>
                {% for proyecto in object_list %}
                <tr>
                    <td>
                        {{proyecto.id}}  
                        
                </td>
                   <td>
                        {{proyecto.proyecto}}  
                        
                </td>
                    <!-- <td>{{proyecto.description}}</td> -->
                    
        
                    <td>{{proyecto.fecha_gasto}}</td>
                   
                    <td>{{proyecto.created_at}}</td>
                    <td>{{proyecto.updated_at}}</td>
                    <td><a id="b1" href="{% url 'inputapp:updateRemediesCost' proyecto.id %}" style="color:green; margin-left:10px"><i class="fas fa-edit"></i></a> <a id="b1" href="{% url 'inputapp:deleteRemediesCost' proyecto.id %}" style="color:red;"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
                {% endfor %}
               
            </table>
        </div>
 
   
{% endblock %}