{% extends 'layouts/layout.html' %}

{% block title %}Administrative{% endblock %}

{% block content %}


          <div class="cuerpo" style="margin-top:100px;margin-left:280px">
            
            <table class="table">
                <thead >
                    <tr class="is-selected">
                    
                            <th>Id</th>
                            
                            <th>Date of Expense</th>
                            <th >Project</th>

                            <th >Spending amount</th>
                            
                            <!-- <th style="padding: 20px;">End Date</th> -->
                            <th >Creation Date</th>
                            <th>Update Date</th>
                           <th>Action</th>
                        
                    </tr>
                </thead>
                {% for proyecto in object_list %}
                <tr>
                    <td><a href="{% url 'pages:gadmin' proyecto.id %}">{{proyecto.id}}</a></td>  
                  
                   <td>
                        {{proyecto.fecha_gasto}}  
                        
                </td>
                    <!-- <td>{{proyecto.description}}</td> -->
                    <td>{{proyecto.proyecto}}</td>
        
                    <td>{{proyecto.cantidadGasto}}</td>
                   
                    <td>{{proyecto.created_at}}</td>
                    <td>{{proyecto.updated_at}}</td>
                   
            </tr>
            <td><a id="b1" href="{% url 'inputapp:updateadmin_cost' proyecto.id %}" style="color:green; margin-left:10px"><i class="fas fa-edit"></i></a> <a id="b1" href="{% url 'inputapp:deleteadmin_cost' proyecto.id %}" style="color:red;"><i class="fas fa-trash-alt"></i></a></td>
                {% endfor %}
               
            </table>
        </div>
 
   
{% endblock %}