{% extends 'layouts/layout.html' %}

{% block title %}Proyectos{% endblock %}

{% block content %}


          <div  class="cuerpo" style="margin-top:100px;margin-left:280px">
            <h1 > ADMINISTRATIVE EXPENSES DATA LIST </h1>
            <table class="table">
                <thead >
                    <tr class="is-selected">
                    
                            <th >Id</th>
                            <th >Project</th>
                            <th >Date of Expense</th>
                            <!-- <th >End Date</th> -->
                            <th >Creation Date</th>
                            <th >Update Date</th>
                            <th>Action</th>   
                        
                    </tr>
                </thead>
                {% for proyecto in object_list %}
                <tr>
                    <td><a href="{% url 'pages:fertilizerCost_detail' proyecto.id %}">{{proyecto.id}}</a></td>
                
                    <!-- <td>{{proyecto.description}}</td> -->
                    <td>{{proyecto.proyecto}}</td>
        
                    <td>{{proyecto.fechaGasto}}</td>
                   
                    <td>{{proyecto.created_at}}</td>
                    <td>{{proyecto.updated_at}}</td>
                    <td><a id="b1" href="{% url 'inputapp:updateFertilizercost' proyecto.id %}" style="color:green; margin-left:10px"><i class="fas fa-edit"></i></a> <a id="b1" href="{% url 'inputapp:deleteFertilizercost' proyecto.id %}" style="color:red;"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
                {% endfor %}
               
            </table>
        </div>
 
   
{% endblock %}