{% extends 'layouts/layout.html' %}

{% block title %}Proyectos{% endblock %}

{% block content %}


          <div id="main-container" style="display: flex; justify-content:center;">
            <h1 > ADMINISTRATIVE EXPENSES DATA LIST </h1>
            <table style="	background-color: white;text-align: left;border-collapse: collapse; width: 100%;font-family: 'Montserrat', sans-serif;">
                <thead style="background-color: #246355;border-bottom: solid 5px #0F362D;color: white;">
                    <tr>
                    
                            <th style="padding: 20px;">Id</th>
                            <th style="padding: 20px;">Tipo de Gasto</th>
                            <th style="padding: 20px;">Proyecto</th>
                            <th style="padding: 20px;">Fecha gasto</th>
                            <!-- <th style="padding: 20px;">End Date</th> -->
                            <th style="padding: 20px;">Creation Date</th>
                            <th style="padding: 20px;">Update Date</th>
                           
                        
                    </tr>
                </thead>
                {% for proyecto in object_list %}
                <tr>
                    <td>
                        {{proyecto.id}}  
                        
                </td>
                   <td>
                        {{proyecto.TipoGasto}}  
                        
                </td>
                    <!-- <td>{{proyecto.description}}</td> -->
                    <td>{{proyecto.proyecto}}</td>
        
                    <td>{{proyecto.fecha_gasto}}</td>
                   
                    <td>{{proyecto.created_at}}</td>
                    <td>{{proyecto.updated_at}}</td>
                   
            </tr>
                {% endfor %}
               
            </table>
        </div>
 
   
{% endblock %}