<!-- {% block title %} {{title}} {% endblock %} -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css'  %}">
<link rel="shortcut icon" href="{% static 'img/logo1.png' %}" type="image/x-icon">

{% block content %}
    <section id="contenido">
        <div id="card">
            <img src="{% static 'img/titulo.png' %}" alt="" srcset="">
            <!-- <h1>{{title}}</h1> -->
            <div id="mensaje">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" >
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            <div id="formulario">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="username">Nombre de usuario</label>
                    <input type="text" name="username" placeholder="username"/>
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" />
                    <input id="boton" type="submit" value="Login" />
                </form>
            </div>
        </div>
    </section>
    <hr/>
    <footer>
        <img id="logo-header" src="{% static 'img/logo2.png' %}" alt="" srcset="">
        <span>Copyright &copy; Agroturn 2020. All rights reserved.</span>
    </footer>

{% endblock %}