
{% block title %} Pruebas {% endblock %}

{% block content %}
<style>
    form {
        margin: auto;
        display: flex;
        justify-content: space-between;
      }
        form input, form select, form textarea {
            border-radius: 5px;
            border: 1px solid green;
            outline: none;
            background: none;
            padding: 5px;
            width: 100%;
          }
            form label{
                font-family: 'Montserrat', sans-serif;
                
          }
          input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
          }
    </style>
    <h1 style="position:absolute;display:flex;align-self:center;">Add new Remedy Cost</h1>


<div class="formCard" style="display:flex;flex-direction:column;position:absolute;right:30vw;top:10vh;">
  
    
<form action="" method="post" class="post-form" style="display: flex; flex-direction:column;">
    {% csrf_token %}
        {{form.as_p}}
    
    
<button type="submit" style="width:10vw;" class="boton">Send</button>
</form>
</div>

{% endblock %}