{% extends 'layouts/layout.html' %}
{% block title %} Staff {% endblock %}

{% block content %}
<style>
    form {
        margin: auto;
        display: flex;
        justify-content: space-between;
      }
        form input, form select, form textarea {
            border-radius: 5px;
            border: 1px solid green;
            outline: none;
            background: none;
            padding: 5px;
            width: 100%;
          }
            form label{
                font-family: 'Montserrat', sans-serif;
                
          }
          input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
          }
    .boton{
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        font-size: 1rem;
        border: 1px solid whitesmoke;
        box-shadow: 5px 5px 7px #294f36;
        margin-bottom:10vh;
        width:12vw;
        height: 6vh;
        border-radius: 30px 30px 30px 30px;
        color:white;
        background-color: #294f36 ;
        font-family: 'Montserrat', sans-serif;
    }
    </style>
    <h1 style="position:absolute;display:flex;align-self:center;">Add a new Staff Data</h1>


<div class="formCard" style="display:flex;flex-direction:column;position:absolute;right:30vw;top:10vh;">

    
    <form action="" method="post" class="form-group" style="display: flex; flex-direction:column;">
    {% csrf_token %}
        {{form.as_p}}

    
<button type="submit" style="width:10vw;" class="boton">Send</button>
</form>
</div>
{% endblock %}