<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/portada.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo1.png' %}" type="image/x-icon">
    <title>{% block title %}{{title}} {% endblock %}</title>
</head>

<body>

<section>
    <div class="card">
            <p id="p1"><img src="{% static 'img/logo3.png' %}" alt=""></p>
            <p id="p2"><img src="{% static 'img/titulo.png' %}" alt=""></p>
            <p id="p3">
                    <a id="boton1" href="{% url 'login' %}">Login</a>
                    <a id ="boton2" href="{% url 'register' %}">Registro</a>
                
                </p>
        
        
        
    </div>
</section>
<hr/>
<footer>
    <img id="logo-header" src="{% static 'img/logo2.png' %}" alt="" srcset="">
    <span>Copyright &copy; Agroturn 2020. All rights reserved.</span>
</footer>
</body>
</html>