<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo1.png' %}" type="image/x-icon">
</head>
<body>
    <!--Cabecera de la página-->
    <header>
        <div id="fondo">
            
            <nav id= "navegación">
                <ul>
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    {% if user.email %}
                        <li>
                            <a href="logout">Logout</a>
                        </li>
                   
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="content">
        {%block content %}
        {% endblock %}
    </div>
    <hr/>
    <footer>
        <img id="logo-header" src="{% static 'img/logo2.png' %}" alt="" srcset="">
    </footer>
</body>

</html>