*{
    padding:0px;
    margin: 0px;
    text-decoration: none;
    font-style: italic;
    
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* Navegacion*/

header{
    width: 100vw;
    height: 10vh;
    margin-top: 10px;
}



#Tportada1{
    
    color:#294f36;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
    
}
.Tportada{
    width:50vw;
}
#Tportada2{
    color:#7ab929;
    font-size: 4rem;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 2vw;
}
.alert{
    padding: 20px;
    color:green;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.warning{
    padding: 20px;
    color:red;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.card{
    display: flex;
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 2px 5px gray;
    height: 52vh;
    width:40vw;
    top:20vh;
    justify-self: center;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../../static/img/logo2.png") ;
    background-size: 37vh ;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
#login,#register,.boton{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1rem;
    border: 1px solid whitesmoke;
    box-shadow: 5px 5px 7px #294f36;
    margin-bottom:10vh;
    width:12vw;
    height: 6vh;
    border-radius: 30px 30px 30px 30px;
    color:white;
    background-color: #294f36 ;
    font-family: 'Montserrat', sans-serif;
}
#login:hover{
    font-size: 1.1rem;
    color:#f9ea31;
    
}
#register:hover{
    font-size: 1.1rem;
    color:#f9ea31;
    
}
.boton:hover{
    font-size: 1.1rem;
    color:#f9ea31;
    
}
#content{
    width: 80vw;
    height: 100%;
}
footer{
    width:100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color: white;
}
form {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
    form input, form select, form textarea {
        border-radius: 5px;
        border: 1px solid green;
        outline: none;
        background: none;
        padding: 5px;
        width: 100%;
      }
        form label{
            font-family: 'Montserrat', sans-serif;
            
      }
      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
    .boton{

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        font-size: 1rem;
        border: 1px solid whitesmoke;
        box-shadow: 5px 5px 7px #294f36;
        margin-bottom:10vh;
        width:12vw;
        height: 6vh;
        border-radius: 30px 30px 30px 30px;
        color:white;
        background-color: #294f36 ;
        font-family: 'Montserrat', sans-serif;
    }