*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#card{
    display: flex;
    width: 40vw;
    height: 50vh;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    flex-flow: wrap;
    border-radius: 3rem;
    box-shadow: 1px 1px 5px black;
}
#card form p{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
}
#card form p input{
    background: green;
    color: white;
}